.app{
    width: 40vw;
    height:100vh;
    background-color: gray;
    display: grid;
    place-items: center;
  }
  .wrapover{
    background-color: lightgray ;
    padding:100px;
    border-radius: 10px;
  }
  